variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build
    - cppchecks

.ci-polygon:
  tags:
     - ci-polygon
  
.tests:  
  extends: .ci-polygon
  stage: build
  rules:
   - if: $CI_PIPELINE_SOURCE == "merge_request_event"
     when: always
   - when: always

  timeout: 3 hours 30 minutes
  dependencies: []
  
  
tests:amd64.gcc:
    extends: .tests
    image: demlabs/debian/amd64:qt6
    script:
      - mkdir build
      - cd build && cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_CELLFRAME_SDK_TESTS=ON  && make -j$(nproc) && ctest --verbose


tests:amd64.clang:
    extends: .tests
    image: demlabs/debian/amd64:qt6
    script:
      - mkdir build
      - cd build && cmake .. -DCMAKE_C_COMPILER=clang -DCMAKE_BUILD_TYPE=Release -DBUILD_CELLFRAME_SDK_TESTS=ON  && make -j$(nproc) && ctest --verbose


tests:arm64.cross:
    extends: .tests
    image: demlabs/debian/amd64:cross
    script:
      - mkdir build
      - cd build && cmake-arm64 .. -DCMAKE_BUILD_TYPE=Release -DBUILD_CELLFRAME_SDK_TESTS=ON && make -j$(nproc) && ctest --verbose


tests:arm32.cross:
    extends: .tests
    image: demlabs/debian/amd64:cross
    script:
      - mkdir build
      - cd build && cmake-arm32 .. -DCMAKE_BUILD_TYPE=Release -DBUILD_CELLFRAME_SDK_TESTS=ON  && make -j$(nproc) && ctest --verbose

tests:windows.amd64:
    extends: .tests
    image: demlabs/windows/amd64:qt6
    script:
      - mkdir build
      - cd build && export PATH=${MXE_ROOT}/usr/bin:$PATH && x86_64-w64-mingw32.static-cmake .. -DCMAKE_CROSSCOMPILING_EMULATOR=/usr/bin/wine -DCMAKE_BUILD_TYPE=Release -DBUILD_CELLFRAME_SDK_TESTS=ON && make -j$(nproc)
      - ctest --verbose

tests:macos.arm64:
    extends: .tests
    tags:
      - macos-native
    script:
      - mkdir build
      - cd build && cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_CELLFRAME_SDK_TESTS=ON -DCMAKE_POLICY_VERSION_MINIMUM=3.5 .. && make -j$(nproc)
      - ctest --verbose


build:android:
    extends: .tests
    image: demlabs/android/any:qt6
    script:
      - ./prod_build/build.sh release --target android -DDUMMY_INSTALL=1 -DANDROID_PLATFORM=29
