[submodule "libdap"]
	path = libdap
	url = https://github.com/kelvinblockchain/libdap
	branch = master
[submodule "test/libdap-test"]
	path = test/libdap-test
	url = https://github.com/kelvinblockchain/libdap-test
	branch = master
