sudo: required
language: cpp
compiler: gcc
dist: trusty
notifications:
  email: false

before_install:
 - sudo apt-get install libev-dev

script:
    - export CC=gcc-5
    - mkdir build
    - cd build 
    - cmake ../
    - make
    - make test

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5

