language: c
compiler: gcc
dist: xenial
notifications:
  email: false

before_install:
    - git submodule init
    - git submodule update

script:
    - mkdir build
    - cd build 
    - cmake -DBUILD_DAP_SERVER_CORE_TESTS=ON ../
    - make
    - ctest --verbose

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - libev-dev 
    - libmemcached-dev
