sudo: required
language: cpp
compiler: gcc
dist: trusty
notifications:
  email: false

script:
    - export CC=gcc-5
    - mkdir build
    - cd build 
    - cmake ../
    - make
    - ctest --verbose

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5

