[submodule "libdap"]
    path = libdap
    url =  https://gitlab.demlabs.net/cellframe/libdap
    branch = master 
[submodule "libdap-server-core"]
    path = libdap-server-core
    url = https://gitlab.demlabs.net/cellframe/libdap-server-core
    branch = master 
[submodule "test/libdap-test"]
    path = test/libdap-test
    url = https://gitlab.demlabs.net/cellframe/libdap-test
    branch = master 
[submodule "libdap-server-udp"]
    path = libdap-server-udp
    url = https://gitlab.demlabs.net/cellframe/libdap-server-udp
    branch = master 
[submodule "libdap-crypto"]
	path = libdap-crypto
	url = https://gitlab.demlabs.net/cellframe/libdap-crypto
	branch = master
